<app-top-bar-logout></app-top-bar-logout>

<!-- TODO: fazer calendario -->
<table id="calendar">
    <caption> &lt; &nbsp;&nbsp; Maio de 2022 &nbsp;&nbsp; &gt; </caption>
    <tr class="weekdays">
        <th scope="col">Domingo</th>
        <th scope="col">Segunda</th>
        <th scope="col">Terça</th>
        <th scope="col">Quarta</th>
        <th scope="col">Quinta</th>
        <th scope="col">Sexta</th>
        <th scope="col">Sábado</th>
    </tr>

    <tr class="days">
        <td class="day">
            <div class="date">1</div>
        </td>
        <td class="day">
            <div class="date">2</div>
        </td>
        <td class="day">
            <div class="date">3</div>
        </td>
        <td class="day">
            <div class="date">4</div>
        </td>
        <td class="day">
            <div class="date">5</div>
        </td>
        <td class="day">
            <div class="date">6</div>
        </td>
        <td class="day">
            <div class="date">7</div>
        </td>
    </tr>
    <tr>
        <td class="day">
            <div class="date">8</div>
        </td>
        <td class="day">
            <div class="date">9</div>
        </td>
        <td class="day">
            <div class="date">10</div>
        </td>
        <td class="day">
            <div class="date">11</div>
        </td>
        <td class="day">
            <div class="date">12</div>
        </td>
        <td class="day">
            <div class="date">13</div>
        </td>
        <td class="day">
            <div class="date">14</div>
        </td>
    </tr>
    <tr>
        <td class="day">
            <div class="date">15</div>
        </td>
        <td class="day">
            <div class="date">16</div>
        </td>
        <td class="day">
            <div class="date">17</div>
        </td>
        <td class="day">
            <div class="date">18</div>
        </td>
        <td class="day">
            <div class="date">19</div>
        </td>
        <td class="day">
            <div class="date">20</div>
        </td>
        <td class="day">
            <div class="date">21</div>
        </td>
    </tr>
    <tr>

        <td class="day">
            <div class="date">22</div>
        </td>
        <td class="day">
            <div class="date">23</div>
        </td>
        <td class="day">
            <div class="date">24</div>
        </td>
        <td class="day">
            <div class="date">25</div>
        </td>
        <td class="day">
            <div class="date">26</div>
        </td>
        <td class="day">
            <div class="date">27</div>
        </td>
        <td class="day">
            <div class="date">28</div>
        </td>
    </tr>
    <tr>
        <td class="day">
            <div class="date">29</div>
        </td>
        <td class="day">
            <div class="date">30</div>
        </td>
        <td class="day">
            <div class="date">31</div>
        </td>
        <td class="day other-month">
            <div class="date">1</div>
        </td>
        <td class="day other-month">
            <div class="date">2</div>
        </td>
        <td class="day other-month">
            <div class="date">3</div>
        </td>
        <td class="day other-month">
            <div class="date">4</div>
        </td>
    </tr>

</table>

<div *ngIf="user">
    <a routerLink="/task-list/{{this.user._id}}" class="back">
        Voltar
    </a>
</div>