<app-top-bar-logout></app-top-bar-logout>

<div class="nav">
    <a routerLink="/create-user" class="button">
        Criar Utilizador
    </a>
    <a routerLink="/create-project" class="button">
        Criar Projeto
    </a>
    <a routerLink="/create-team" class="button">
        Criar Equipa
    </a>
    <a routerLink="/associate-team-project" class="button">
        Associar Equipa
    </a>
    <a routerLink="/team-users" class="button">
        Equipas
    </a>
</div>

<!-- TODO: VER SE INTERESSA FAZER ALGO ASSIM -->
<!-- <h2>Utilizadores:</h2>
<ul>
    <li *ngFor="let user of users" class="user-list">
        <a class="button">
            {{user.username}}
        </a>
    </li>
</ul>

<h2>Projetos:</h2>
<ul>
    <li *ngFor="let project of projects" class="project-list">
        <a class="button">
            {{project.name}}
        </a>
    </li>
</ul>

<h2>Equipas:</h2>
<ul>
    <li *ngFor="let team of teams" class="team-list">
        <a class="button">
            {{team.name}}
        </a>
    </li>
</ul> -->